*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Cairo,sans-serif;
}

:root{

--primary:#0f766e;
--secondary:#115e59;
--background:#f4f7f6;
--card:#ffffff;
--text:#222;
--text2:#666;
--shadow:0 8px 25px rgba(0,0,0,.08);

}

body.dark{

--primary:#0d9488;
--secondary:#0f766e;
--background:#111827;
--card:#1f2937;
--text:#ffffff;
--text2:#cbd5e1;

}

body{

background:var(--background);

color:var(--text);

transition:.3s;

}

header{

background:linear-gradient(135deg,var(--primary),var(--secondary));

padding:30px;

display:flex;

justify-content:space-between;

align-items:center;

color:white;

box-shadow:var(--shadow);

}

.logo h1{

font-size:35px;

margin-bottom:5px;

}

.logo p{

opacity:.9;

}

#themeBtn{

width:50px;

height:50px;

border:none;

border-radius:50%;

font-size:22px;

cursor:pointer;

background:white;

transition:.3s;

}

#themeBtn:hover{

transform:rotate(180deg);

}

main{

width:92%;

max-width:1300px;

margin:40px auto;

display:grid;

grid-template-columns:repeat(auto-fill,minmax(260px,1fr));

gap:25px;

}

.card{

background:var(--card);

padding:30px;

border-radius:18px;

text-decoration:none;

color:var(--text);

box-shadow:var(--shadow);

transition:.35s;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}

.card:hover{

transform:translateY(-8px);

}

.icon{

font-size:55px;

margin-bottom:18px;

}

.card h2{

font-size:24px;

margin-bottom:12px;

}

.card p{

font-size:16px;

color:var(--text2);

line-height:1.7;

}

footer{

margin-top:50px;

padding:25px;

text-align:center;

color:var(--text2);

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:var(--primary);

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#ddd;

}

@media(max-width:900px){

main{

grid-template-columns:repeat(auto-fill,minmax(220px,1fr));

}

}

@media(max-width:600px){

header{

flex-direction:column;

gap:20px;

text-align:center;

}

.logo h1{

font-size:28px;

}

.card{

padding:25px;

}

.icon{

font-size:45px;

}

.card h2{

font-size:20px;

}

.card p{

font-size:14px;

}

}
